html {
  height: 100%;
  background-color: aqua;
}
body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  object-fit: contain;
  height: 15%;
  justify-content: center;
}
body img:hover {
  border-width: 1px;
  border-color: black;
  animation: subida 0.3s forwards; /*aplicar animacion, duracion y que se mantenga*/
}
@keyframes subida {
  /*animacion*/
  0% {
    transform: translate(0);
  }
  100% {
    transform-origin: center;
    transform: translateY(-30px);
  }
}
