* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
}
button,
input,
textarea {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  background-color: black;
}
.search-input {
  display: flex;
  background-color: aliceblue;
  width: 90%;
  height: 60%;
  border-radius: 20px;
}
.buscar {
  color: rgb(0, 136, 255);
  position: absolute;

  height: 1%;
}
